doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/jquery-3.1.1.min.js')
		script(src='javascripts/ratemystav_client.js')
	body
		h1= title
		div#divStav
			img#stav
		div#divRating
			- //Numbering the star spans in reverse order
			- //because the star fill-in uses a trick with rtl
			- for (var i = 6; i>=1; --i) {
				span(id=i) ☆
			- }
		input#vote(type="button",value="New image")

