body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img#stav {
	max-width: 100%;
	max-height: 100%;
}

div#divStav {
	width: 500px;
	height: 500px;
}


#divRating {
	unicode-bidi: bidi-override;
	direction: rtl;
	width: 100px;
}

#divRating > span:hover:before,
#divRating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

